/* ===========================
   PONUDBA - mobile first
=========================== */

.ponudba-sekcija {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 20px;
  scroll-margin-top: 100px;
}

.ponudba-sekcija:last-of-type {
  border-bottom: none;
}

.ponudba-slika img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.ponudba-tekst h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

.ponudba-tekst p {
  margin-bottom: 5px;
}

.ponudba-gumb {
  margin-top: 20px;
  text-align: left;
}

/* CAROUSEL */
.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.carousel-track img {
  min-width: 100%;
  border-radius: 8px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 50px;
  padding: 0;

  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  border-radius: 5px;

  font-size: 50px;
  cursor: pointer;
}

.carousel-btn span {
  line-height: 1;
  transform: translateY(-5px);
}

.carousel-btn.prev {
  left: 8px;
}
.carousel-btn.next {
  right: 8px;
}

.carousel-dots {
  text-align: center;
  padding: 10px 0 5px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: #b48e1f;
}

@media (min-width: 500px) and (max-width: 767px) {
  .ponudba-slika {
    width: 100%;
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .ponudba-sekcija {
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
  }

  .ponudba-slika {
    flex: 0 0 40%;
  }

  .ponudba-tekst {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .ponudba-tekst h2 {
    font-size: 32px;
  }

  .ponudba-sekcija {
    justify-content: space-between;
  }

  .ponudba-tekst {
    max-width: 550px;
  }
}

@media (min-width: 1280px) {
  .ponudba-sekcija {
    gap: 36px;
  }

  .ponudba-tekst p {
    font-size: 17px;
    line-height: 1.6;
  }
}
